[submodule "cpp-wrapper/3rdparty/rust-extern"]
	path = cpp-wrapper/3rdparty/rust-extern
	url = https://github.com/shadowmint/rust-extern
[submodule "cbindgen"]
	path = cbindgen
	url = https://github.com/eqrion/cbindgen.git
